@{
    ViewBag.Title = "Better List";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <script type="text/javascript">
        $(function () {
            ko.applyBindings(new $OfficialSamplesScript_BetterList_BetterListViewModel());
        });
    </script>
</hgroup>

<article>
	<p>
		<a href="http://knockoutjs.com/examples/betterList.html">Knockout Js example</a>.
	</p>

	<form data-bind="submit:addItem">
		Add item: <input type="text" data-bind='value:itemToAdd, valueUpdate: "afterkeydown"' />
		<button type="submit" data-bind="enable: itemToAdd().length > 0">Add</button>
	</form>
	<p>Your values:</p>
	<select multiple="multiple" height="5" data-bind="options:allItems, selectedOptions:selectedItems"> </select>
	<div>
		<button data-bind="click: removeSelected, enable: selectedItems().length > 0">Remove</button>
		<button data-bind="click: sortItems, enable: allItems().length > 1">Sort</button>
	</div>
</article>


