@{
    ViewBag.Title = "Examples Home Page";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p>
	In all the examples here, the view is unchanged, but the javascript has been converted to C#.

	To see working examples of using Knockout to create responsive UIs, choose from the menu below.
</p>
<p>
	If you’re new to Knockout, start with the ‘@Html.ActionLink("Hello World", "Person", "Examples")’ example and 
	perhaps read an <a href="http://knockoutjs.com/documentation/introduction.html">introductory tutorial</a>.
</p>

@Html.Partial("_LinksPartial")

