@{
    ViewBag.Title = "Home Page";
}

<div>
    <button type="button" id="showMessage">Show message</button>
    <button type="button" id="flashMessage">Flash message</button>
    <div id="messageContainer">
	</div>
</div>
