<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Saltarelle.Compiler" version="1.5.2" />
  <package id="Saltarelle.jQuery" version="1.5.2" />
  <package id="Saltarelle.Knockout" version="1.5.2" />
  <package id="Saltarelle.Runtime" version="1.5.2" />
  <package id="Saltarelle.Web" version="1.5.2" />
</packages>